.container {
  display: block;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  
}
#exitButton {
  width: 16px;
  height: 16px;
}
#body {
  margin-right: 50px;
}

.title {
  font-size: 24px;
  font-family: "Lucida Console",  monospace;
  font-weight: bold;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  color: #49537a;
}

.textbox {
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0px 2px;
}
#header {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.button:hover {
  outline: 0;
  background-color: #394779;
  
}
#verify-button {
  margin-top: 12px;
  align-self: center;
  
}
.button {
   border-radius: 10px;
  background-color:  #979FBE;
  color: #ffffff;
  font-weight: bold;
}
#quote-input {
  align-self: center;
  height: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.source-contain {
  margin: 4px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.source-contain:hover{
  background-color:#49537a;
  color: #ffffff;
}
.headline{
  display: inline;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Lucida Console",  monospace;

}


